
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    /*
    background-image: url('../img/bg.png');
    background-position: center center;
    background-size: cover;*/
}

#footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.page-header {
    text-align: center;
}

.page-header img {
    width: 150px;
}

.page-header h1 {
    line-height: 28px;
}

span.hello {
    border-bottom: 1px dashed silver;
}

.container {
    width: auto;
    max-width: 600px;
    padding: 15px;

    /*
    background-color: rgba(0,0,0,.3);
    */
}

.social {
    margin-top: 30px;
}


.social img {
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

.social a:hover img {
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

div.hello img {
    background-color: rgba(0,0,0,.3);
}

#footer .container {
    background-color: transparent;
}


.container .text-muted {
    margin: 20px 0;
}